[submodule "third_party/libbsa"]
	path = third_party/libbsa
	url = https://github.com/Silverlan/libbsa.git
[submodule "third_party/ba2lib"]
	path = third_party/ba2lib
	url = https://github.com/Silverlan/BA2Lib.git
[submodule "external_libs/util_archive"]
	path = external_libs/util_archive
	url = https://github.com/Slaweknowy/util_archive.git
[submodule "third_party/niflib"]
	path = third_party/niflib
	url = https://github.com/Silverlan/niflib.git
[submodule "third_party/qhull"]
	path = third_party/qhull
	url = https://github.com/qhull/qhull.git
[submodule "external_libs/util_fgd"]
	path = external_libs/util_fgd
	url = https://github.com/Slaweknowy/util_fgd.git
[submodule "external_libs/util_dmx"]
	path = external_libs/util_dmx
	url = https://github.com/Silverlan/util_dmx.git
